@font-face {
    font-family: hind guntur;
    src: url("assets/fonts/Hind_Guntur/HindGuntur-Regular.ttf");
}

:root {
    font-size: 16px;
    font-family: hind guntur, sans-serif;
    line-height: 1.4;

    --primary-text-color: #000000;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #e6e6e6;
    --primary-color: #281CE2;
    --primary-hover-color: #EEF9FD;
    --secondary-color: #E87269;
    --secondary-hover-color: #F7CDD5;
}

body {
    margin: 0;
}

.scroll {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    strong {
        font-weight: 700;
    }

    font-weight: 200;
}

/* header styling */

@keyframes burgermenu {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

header {

    /* this css is gonna change later */
    .logo {
        display: flex;
        justify-content: center;
        padding-block-start: 1.5em;
        padding-block-end: 2em;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }

    a {
        color: var(--primary-text-color);
        text-decoration: none;

        img {
            height: 3.125em;
            width: 100%;
        }
    }

    ul {
        display: none;
        padding: 0;
        list-style-type: none;

        li {
            a {
                color: var(--primary-text-color);
                text-decoration: none;
            }
        }
    }

    .vissible {
        display: inline-block;
        position: fixed;
        background-color: var(--primary-background-color);
        padding: max(4em) max(3em);
        height: 90vh;
        width: 100vh;

        @media (prefers-reduced-motion: no-preference) {
            animation: burgermenu;
            animation-duration: .5s;
        }

        li {
            margin: 1.5em;

            a {
                font-size: 2em;
                font-weight: 700;
            }
        }
    }

    button {
        position: fixed;
        /* we doen hier centimeters want je kan geen duim in px meten */
        width: 3cm;
        height: 3cm;
        bottom: 0;
        right: 0;
        background-color: var(--primary-color);
        color: var(--primary-background-color);
        border: none;

        img {
            width: 3.5em;
            height: 3.5em;
        }

        .disapear {
            display: none;
        }
    }

}

/* main styling */
main {
    margin: 1.8em;

    @media (min-width: 64em) {
        margin-inline: 15vw;
    }

    a {
        text-decoration: none;
        color: var(--primary-text-color);
    }


    article {
        img {
            width: 100%;
            height: 50%;
        }

        &:last-child {
            a {
                padding: 1em;
                background: linear-gradient(to right, var(--secondary-hover-color) 50%, var(--secondary-color) 50%);
                background-size: 200% 100%;
                background-position: right bottom;
                transition: all .5s ease;

                &:hover {
                    background-position: left bottom;
                }
            }
        }

        @media (min-width: 64em) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.1fr 0.5fr 1fr;

            img {
                width: 100%;
                height: 100%;
                grid-row: span 3;

            }

            h2 {
                padding-block-start: 3em;
                padding-inline-start: 2em;
                margin: 0;
            }

            p {
                padding-inline-start: 3em;
            }

            a {
                padding-block-end: 3em;
                padding-inline-start: 3em;
            }

            &:nth-of-type(even) {
                img {
                    grid-column: 2;

                }

                h2 {
                    grid-row: 1;
                    padding-block-start: 3em;
                    padding-inline-start: 0;
                    padding-inline-end: 2em;
                    margin: 0;
                }

                p {
                    padding-inline-start: 0;
                    padding-inline-end: 3em;
                }

                a {
                    padding-block-end: 3em;
                    padding-inline-start: 0;
                    padding-inline-end: 3em;
                }
            }

            &:last-child {
                display: flex;
                justify-content: space-between;
                margin-block-start: 5em;

                h2 {
                    padding: 0;
                }

            }
        }
    }
}

/* footer styling */

footer {
    background-image: url(../assets/svg/triangle.svg);
    background-repeat: no-repeat;
    background-size: 700vw 1.3vw;
    background-color: var(--secondary-background-color);

    a {
        text-decoration: none;
        color: var(--primary-text-color);
    }

    section {
        padding-block-start: 1em;
        padding-inline: 1.8em;

        &:last-child {
            background-color: var(--secondary-color);
        }

        ul {
            padding: 0;
            list-style: none;
        }
    }
}