@font-face {
    font-family: hind guntur;
    src: url("assets/fonts/Hind_Guntur/HindGuntur-Regular.ttf");
}

:root {
    font-size: 16px;
    font-family: hind guntur, sans-serif;
    line-height: 1.4;

    --primary-text-color: #000000;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #e6e6e6;
    --primary-color: #281CE2;
    --primary-hover-color: #EEF9FD;
    --secondary-color: #E2655E;
    --secondary-hover-color: #F7CDD5;
}

body {
    margin: 0;
}

.scroll {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    strong {
        font-weight: 700;
    }

    font-weight: 200;
}

/* header styling */

@keyframes burgermenu {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

header {

    /* this css is gonna change later */
    .logo {
        display: flex;
        justify-content: center;
        padding-block-start: 1.5em;
        padding-block-end: 2em;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }

    a {
        color: var(--primary-text-color);
        text-decoration: none;

        img {
            height: 3.125em;
            width: 100%;
        }
    }

    ul {
        display: none;
        padding: 0;
        list-style-type: none;

        li {
            a {
                color: var(--primary-text-color);
                text-decoration: none;
            }
        }
    }

    .vissible {
        display: inline-block;
        position: fixed;
        background-color: var(--primary-background-color);
        padding: max(4em) max(3em);
        height: 90vh;
        width: 100vh;

        @media (prefers-reduced-motion: no-preference) {
            animation: burgermenu;
            animation-duration: .5s;
        }

        li {
            margin: 1.5em;

            a {
                font-size: 2em;
                font-weight: 700;
            }
        }
    }

    button {
        position: fixed;
        /* we doen hier centimeters want je kan geen duim in px meten */
        width: 3cm;
        height: 3cm;
        bottom: 0;
        right: 0;
        background-color: var(--primary-color);
        color: var(--primary-background-color);
        border: none;

        img {
            width: 3.5em;
            height: 3.5em;
        }

        .disapear {
            display: none;
        }
    }

}

/* main styling */
main {
    margin: 1.8em;

    a {
        text-decoration: none;
        color: var(--primary-text-color);
    }


    article {
        img {
            width: 100%;
            height: 50%;
        }

        @media (min-width: 64em) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1em;

            img {
                width: 100%;
                height: 100%;
            }

            &:last-child {
                display: block;
            }
        }
    }
}

/* footer styling */

footer {
    padding-inline: 1.8em;
    background-color: var(--secondary-background-color);

    a {
        text-decoration: none;
        color: var(--primary-text-color);
    }

    section {
        ul {
            padding: 0;
            list-style: none;
        }
    }
}